* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: auto;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-width: 900px;
    min-height: 350px;
    max-height: 800px;
    padding: 20vh 10vw;
}
.main-img {
    width: 80%;
    height: 100%;
    max-width: 750px;
}
.main-img img {
    width: 100%;
    height: 100%;
}
.thumbnails-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20%;
    max-width: 150px;
    height: 100%;
    max-width: 550px;
}

.thumbnails-menu .arrow-up,
.thumbnails-menu .arrow-down {
    position: absolute;
}

.thumbnails-menu .arrow-up {
    top: 10; 
}
.thumbnails-item {
    height: calc(100% / 5);
    width: 100%;
}
.thumbnails-item img {
    height: 100%;
    width: 100%;
}